body {
    background-color: white;
    color: rgb(249, 6, 6);
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: black;
    color: rgb(9, 162, 244);
}

.content {
    text-align: center;
    margin-top: 50px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
